  h1
  {
    color:rgb(1,45,91);
    font-size:38pt;
    border:1px solid white;
   
}
h2
  {
    color:rgb(254,189,54);
    font-size:28pt;
  }
  th,td
            {
                border:1px solid black;
                padding-left:10px;
                padding-right:10px;
                padding-top:10px;
                padding-bottom:10px;
            }
body
{ background-color:gray;}

img {
  opacity: 90%;}
