body {
  background-color: rgb(95,192,230);
  font-family: 'Allan';
}
h1 {
  font-size: 42pt;
  text-align: center;
  color: white;
  text-border: black;
  text-shadow: 0 0 3px black;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
